<html>

<head>

    <title>Meme StockMarket</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>

    <div id="header">
        <a href="/"><img id="logo" src="/css/res/meme-logo.PNG"></a>
        <a class="btn" href="/memes">Memes</a>
        <a class="btn" href="/about">About</a>
        <a class="btn" href="/login">Log In</a>
        <a class="btn" id="coolbtn" href="/signup">Sign Up</a>
    </div>
