<% include partials/header %>

    <div id="main">
    <h1>This is where the Guide stuff will be </h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

<% include partials/footer %>
