<% include partials/header %>

    <link rel="stylesheet" href="/css/index.css">

    <div id="ad" class="parallax">
        <b><h2>BETA-BUDDY: Every Climber's Bestfriend</h2><br>
        <p>Tired of others stealing your memes without giving you any credit? Look no further! <br> Sign up now to start your journey towards becoming the new meme lord!</p></b> <br>
        <a id="ad-signup" href="signup">Sign Up</a>
    </div>

    <div id="main">
    <h1>This is where the random meme stuff will be </h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

<% include partials/footer %>
