<% include partials/header %>

    <link rel="stylesheet" href="/css/index.css">

    <div id="ad">
        <h2>Meme StockMarket</h2>
        <p>Tired of others stealing your memes without giving you any credit? Look no further! <br> Sign up now to start your journey towards becoming the new meme lord!</p> <br>
        <a id="signUpAd" href="signup">Sign Up</a>
    </div>

    <div id="main">
    <h1>This is where the random meme stuff will be </h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

<% include partials/footer %>
