<% include partials/header %>

    <link rel="stylesheet" href="/css/login.css" type="text/css">

    <div id="main">
        <div id="login">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div>
                    <input type="username" placeholder="Username" name="username">
                </div>
                <div>
                    <input type="password" placeholder="Password" name="password">
                </div>
                <div>
                <button>Let the meme fest begin!</button>
                </div>
            </form>
        </div>
    </div>


</body>
</html>
