<% include partials/header %>

    <link rel="stylesheet" href="/css/memes.css" type="text/css">

    <div id="main">
    <div id="grid">
        <% memes.forEach(function (meme) { %>
            <% if (meme.imgPath != undefined) { %>
                <div class="meme">
                <p><%=meme.title%></p>
                <img style="width: 30%" src="..<%= meme.imgPath%>">
                </div>
            <% } %>
        <% }); %>
    </div>
    </div>

<% include partials/footer %>
