<% include partials/header %>

<div id="main">
    <h1>Submit new post</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/posts" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title">
        <input type="file" name="newPost" accept="image/jpg">
        <textarea type="textarea" name="description" placeholder="Description" rows="8" cols="80"></textarea>
        <button>Submit!</button>
    </form>
</div>

<% include partials/footer %>
