<% include partials/header %>

    <link rel="stylesheet" href="/css/posts.css" type="text/css">

    <div id="main">
    <div id="grid">
        <% posts.forEach(function (post) { %>
            <% if (post.imgPath != undefined) { %>
                <div class="post">
                <p><%=post.title%></p>
                <img style="width: 30%" src="..<%= post.imgPath%>">
                </div>
            <% } %>
        <% }); %>
    </div>
    </div>

<% include partials/footer %>
