<html>

<head>

    <title>Sign Up - Meme StockMarket</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>

    <div id="header">
        <a href="/"><img id="logo" src="css/res/meme-logo.PNG"></a>
        <a class="btn" href="topMemes">Top Memes</a>
        <a class="btn" href="about">About</a>
        <a class="btn" href="login">Log In</a>
        <a class="btn" id="coolbtn" href="signup">Sign Up</a>
    </div>

    <div id="main">
    <h1>This is where the Sign Up stuff will be </h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div id="footer">
        <img src="css/res/footer-logo2.PNG" id="footerlogo">

        <div>
            <p>About</p>
            <a href="guide">Guide</a> <br>
            <a href="FAQ">FAQ</a>
            <br>
            <br>
        </div>

        <div>
            <p>Contact</p>
            Fake.email@gmail.com <br>
            XXX - XXX XXXX
        </div>

        <div>
            <p>Connect</p>
            <a href="https://github.com/">Github</a> <br>
            <a href="signup">Sign Up!</a>
        </div>
    </div>

</body>
</html>
