#ad {
    color: white;
    text-align: center;
    font-size: 200%;
    padding: 5%;
}

#ad h2 {
    font-size: 200%;
    margin: 0;
}

#ad p {
    flex-wrap: wrap;
}

#ad-signup {
    text-decoration: none;
    border: solid;
    border-color: white;
    background: #00A3CE;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
}

#ad-signup:hover {
    text-decoration: none;
    border: solid;
    border-color: white;
    background: #1a94b2;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
}

.parallax { 
    background-image: url("res/signup-ad-parallax.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
}