body { 
    background-image: url(res/sign-in-up-background.png);
    background-size: cover;
    background-position: center;
}

#signup h2 {
    font-size: 150%;
}

#signup {
    text-align: center;
    font-size: 250%;
    min-height: inherit;
    color: #323535;
}

#signup input {
    margin-bottom: 1%;
    width: 32%;
    min-width: 200px;
    height: 7%;
    min-height: 40px;
    border-radius: 10px;
    font-size: 45%;
    background: #323535;
    border-color: #00A3CE;
    border-width: thick;
    padding-left: 10px;
    color: white;
}

#signup input:focus {
    outline: none;
}

::placeholder {
    color: darkgray;
    opacity: 1;
}

#signup button {
    width: 10%;
    height: 7%;
    min-width: 100px;
    min-height: 40px;
    background: -webkit-linear-gradient(top, #00A3CE,
    #007691);
    border: none;
    color: white;
    border-radius: 7px;
    font-size: 45%;
    margin-top: 2%;
    outline: none;
}

#signup button:hover {
    background: #007691;
}
